.form-section
{
    margin:15vh 15vw 15vh 15vw;


}
.form-section h3 
{
    margin-top:5vh;
    margin-bottom: 5vh;
    text-align: center;
}
.table-section 
{
    margin: 5vh 2vw 5vh 2vw;
    display: grid;
}