.main-body
{
    margin:20vh 10vw 20vh 10vw;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-areas: "a b";
}
.info-section
{
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-areas: "a b";
}
.user-section
{
    grid-area: a;
}
.question-section
{
    grid-area: b;
}